<!--Modal de Detalhes de Pokémon-->
<div class="content" *ngIf="pokemonData">
  <h2>{{ pokemonData.name | titlecase }} - Nº{{ pokemonData.id }}</h2>
  <div class="img-container">
    <img src="{{ pokemonData.sprites.front_default }}" />
  </div>
  <div class="data-container">
    <span>
      <h3><b>Height</b></h3>
      <p>{{ pokemonData.height }}</p>
    </span>
    <span>
      <h3><b>Weight</b></h3>
      <p>{{ pokemonData.weight }}</p>
    </span>
    <span class="abilities-container">
      <h3><b>Abilities</b></h3>
      <p *ngFor="let ability of pokemonData.abilities">
        {{ ability.ability.name | titlecase }}
      </p>
    </span>
  </div>
  <div class="stats-container">
    <div>
      <canvas #statsChart width="300" height="300"></canvas>
    </div>
  </div>
  <div class="types-container">
    <span>
      <h3><b>Types</b></h3>
      <div class="pokemon-types">
        <div
          *ngFor="let type of pokemonData.types"
          [ngClass]="{
            'normal-type': type.type.name === 'normal',
            'fighting-type': type.type.name === 'fighting',
            'flying-type': type.type.name === 'flying',
            'poison-type': type.type.name === 'poison',
            'ground-type': type.type.name === 'ground',
            'rock-type': type.type.name === 'rock',
            'bug-type': type.type.name === 'bug',
            'ghost-type': type.type.name === 'ghost',
            'steel-type': type.type.name === 'steel',
            'fire-type': type.type.name === 'fire',
            'water-type': type.type.name === 'water',
            'grass-type': type.type.name === 'grass',
            'electric-type': type.type.name === 'electric',
            'psychic-type': type.type.name === 'psychic',
            'ice-type': type.type.name === 'ice',
            'dragon-type': type.type.name === 'dragon',
            'dark-type': type.type.name === 'dark',
            'fairy-type': type.type.name === 'fairy',
            'unknown-type': type.type.name === 'unknown',
            'shadow-type': type.type.name === 'shadow'
          }"
        >
          {{ type.type.name | titlecase }}
        </div>
      </div>
    </span>
  </div>
</div>
