<div class="content">
  <div class="pokelist">
    <!--Lista de Pokémons-->
    <mat-grid-list
      [cols]="columns"
      rowHeight="300px"
      gutterSize="10px"
      (window:resize)="defineColumns()"
    >
      <mat-grid-tile *ngFor="let pokemon of pokemons">
        <!--Card de Pokémon-->
        <mat-card
          (click)="
            pokemon.loaded ? openPokemonDetails(pokemon.pokemonData) : null
          "
        >
          <div *ngIf="pokemon.loaded">
            <div class="pokemon-image">
              <img
                mat-card-image
                src="{{ pokemon.pokemonData.sprites.front_default }}"
                alt="{{ pokemon.pokemonData.name }}"
              />
            </div>
            <mat-card-header>
              <mat-card-title>{{
                pokemon.pokemonData.name | titlecase
              }}</mat-card-title>
              <mat-card-subtitle>{{
                pokemon.pokemonData.id
              }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="pokemon-types">
                <div
                  *ngFor="let type of pokemon.pokemonData.types"
                  [ngClass]="{
                    'normal-type': type.type.name === 'normal',
                    'fighting-type': type.type.name === 'fighting',
                    'flying-type': type.type.name === 'flying',
                    'poison-type': type.type.name === 'poison',
                    'ground-type': type.type.name === 'ground',
                    'rock-type': type.type.name === 'rock',
                    'bug-type': type.type.name === 'bug',
                    'ghost-type': type.type.name === 'ghost',
                    'steel-type': type.type.name === 'steel',
                    'fire-type': type.type.name === 'fire',
                    'water-type': type.type.name === 'water',
                    'grass-type': type.type.name === 'grass',
                    'electric-type': type.type.name === 'electric',
                    'psychic-type': type.type.name === 'psychic',
                    'ice-type': type.type.name === 'ice',
                    'dragon-type': type.type.name === 'dragon',
                    'dark-type': type.type.name === 'dark',
                    'fairy-type': type.type.name === 'fairy',
                    'unknown-type': type.type.name === 'unknown',
                    'shadow-type': type.type.name === 'shadow'
                  }"
                >
                  {{ type.type.name | titlecase }}
                </div>
              </div>
            </mat-card-content>
          </div>
          <mat-spinner *ngIf="!pokemon.loaded"></mat-spinner>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <!--Paginação-->
    <div class="pagination-buttons">
      <button
        mat-raised-button
        color="primary"
        [disabled]="pokemonsLoaded !== 20 || !pokedex.previous"
        (click)="changePage('previous')"
      >
        Previous
      </button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="pokemonsLoaded !== 20 || !pokedex.next"
        (click)="changePage('next')"
      >
        Next
      </button>
    </div>
  </div>
</div>
